/* Page Container */
.page {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.7s ease-in-out;
  color: #ffffff;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;
}

@media (max-width: 760px),
(max-height: 750px) {
  .page {
    align-items: flex-start;
    padding: 80px 10px 40px;
    overflow-y: auto;
  }
}

.page.active {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}
